@page "/test"

<div class="m-auto d-flex flex-column" style="max-width: 300px;">
    
    <h2 class="text-center">Authentication in progress</h2>
    
    <div style="height: 60px;">
@*         <SfProgressBar Type="ProgressType.Linear" Height="60" SecondaryProgress="20"
                       IsActive="true" Value="100" Minimum="0" Maximum="100"
                       Theme="@Theme.Tailwind">
            <ProgressBarAnimation Enable="true" Duration="1000" Delay="0"/>
        </SfProgressBar> *@
    </div>

</div>

