.header {
    min-height: 50px;
    display: flex;
    padding: 10px 10px;
    background-color: #2676a0;
}

.h-progress {
    position: relative;
    width: 50px;
    opacity: 0;
    visibility: collapse;
    transition: opacity 0.2s ease-in;
}
.h-progress-show {
    opacity: 1;
    visibility: visible;
}