.grid-row {
    display: flex;
    flex-direction: column;
    /*    flex-direction: row;*/
    /*    padding: 5px 10px;*/

/*    background: var(--ts-clr-44);*/
    cursor: pointer;
}
    .grid-row:nth-of-type(odd) {
        background: var(--ts-clr-249);
    }
    .grid-row:nth-of-type(even) {
        background: var(--ts-clr-239);
    }


    .grid-row:hover {
        background: var(--ts-clr-209);
    }